.listchange{
    margin-top: 0 !important;
    width: 100% !important;
    background: #f5f5f5;
}
.listchange .active-wrapper{
    width: 1200px;
    margin: 0 auto;

}
.listchange .active-wrapper .b-title{
   padding-top: 34px;
}
.activelist{
    height: 480px;
    background: #fff;
}
.bti{
    padding-top: 70px !important;
}
.activelist li{
    width: 587px;
    height: 480px;
    background: #fff;
    position: relative;
}
.activelist li:first-child{
    float: left;
}
.activelist li:last-child{
    float: right;
}
.activelist li .date{
    font-size: 16px;
    color: #7b7b7b;
    font-family: "微软雅黑";
    display: inline-block;
    margin-top: 16px;
    margin-left: 3px;
}
.activelist li .type{
    font-size: 16px;
    color: #7b7b7b;
    font-family: "微软雅黑";
    position: absolute;
    right: 0;
    display: inline-block;
    margin-top: 16px;
}
.activelist li img{
    width: 584px;
    margin-left: 3px;
}
.activelist li .title{
    font-size: 16px;
    color: #7c7c7c;
    font-family: "微软雅黑";
    margin-left: 3px;
    font-weight: 600;
    padding-left: 6px;
    border-left: 4px solid #eb6123;
}
.activelist li .detail{
    font-size: 14px;
    color: #7c7c7c;
    font-family: "微软雅黑";
    width: 270px;
    display: inline-block;
    margin-top: 10px;
    margin-left: 3px;
}
.activelist li button{
    width: 148px;
    height: 51px;
    border: none;
    background: #374798;
    color: #fff;
    font-size: 16px;
    font-family: "微软雅黑";
    position: absolute;
    right: 0;
    bottom: 32px;
}
.activelist1{
    overflow: hidden;
    background: #fff;
    margin-bottom: 105px;
}
.activelist1 li{
    position: relative;
    width: 379px;
    height: 378px;
    float: left;
}
.activelist1 li:nth-child(3n){
    float: right;
    margin-right: 0;
}
.activelist1 li:nth-child(2){
    margin-left: 33px;
}
.activelist1 li:nth-child(5){
    margin-left: 33px;
}
.activelist1 li .date{
    font-size: 16px;
    color: #7b7b7b;
    font-family: "微软雅黑";
    display: inline-block;
    margin-top: 16px;
    margin-left: 3px;
}
.activelist1 li .type{
    font-size: 16px;
    color: #7b7b7b;
    font-family: "微软雅黑";
    position: absolute;
    right: 0;
    display: inline-block;
    margin-top: 16px;
}
.activelist1 li .title{
    font-size: 16px;
    color: #7c7c7c;
    font-family: "微软雅黑";
    margin-left: 3px;
    font-weight: 600;
    padding-left: 6px;
    border-left: 4px solid #eb6123;
}
.activelist1 li .detail{
    font-size: 14px;
    color: #7c7c7c;
    font-family: "微软雅黑";
    width: 270px;
    display: inline-block;
    margin-top: 10px;
    margin-left: 3px;
}
.detail1{
    width: 100%;
    overflow: hidden;
    margin-bottom: 132px;
}
.detail1 .detail-wrapper{
    width: 1200px;
    margin: 0 auto;
}
.detail1 .detail-wrapper .title{
    font-size: 16px;
    font-family: "微软雅黑";
    color: #6a6a6a;
    margin-top: 34px;
}
.detail1 .detail-wrapper img{
    margin-top: 14px;
}
.detail1 .detail-wrapper .info{
    width: 1200px;
    position: relative;
    padding-bottom: 12px;
    border-bottom: 1px solid #e5e5e5;

}
.detail1 .detail-wrapper .info .title1{
    font-family: "微软雅黑";
    font-size: 16px;
    color: #7c7c7c;
    font-weight: 600;
    margin-top: 22px;
}
.detail1 .detail-wrapper .info .time{
    font-family: "微软雅黑";
    font-size: 16px;
    color: #7c7c7c;
    margin-top: 18px;
}
.detail1 .detail-wrapper .info .address{
    font-family: "微软雅黑";
    font-size: 16px;
    color: #7c7c7c;
    margin-top: 11px;
}
.detail1 .detail-wrapper .info button{
    width: 148px;
    height: 51px;
    border: none;
    background: #374798;
    color: #fff;
    font-size: 16px;
    font-family: "微软雅黑";
    position: absolute;
    right: 0;
    bottom: 21px;
}
.detail1 .detail-wrapper .content{
    color: #7c7c7c;
    font-size: 16px;
    font-family: "微软雅黑";
    line-height: 32px;
    margin-top: 24px;
}
.detail1 .detail-wrapper .gamepic{
    overflow: hidden;
}
.detail1 .detail-wrapper .gamepic img:first-child{
    float: left;
    margin-left: 22px;
}
.detail1 .detail-wrapper .gamepic img:last-child{
    float: right;
    margin-right: 22px;
}
.detail1 .detail-wrapper>button{
    width: 148px;
    height: 51px;
    border: none;
    background: #374798;
    color: #fff;
    font-size: 16px;
    font-family: "微软雅黑";
    float: right;
    margin-top: 40px;
}
.detail2{
    width: 100%;
    overflow: hidden;
    margin-bottom: 109px;
}
.detail2 .detail2-wrapper{
    width: 1200px;
    margin: 0 auto;
}
.detail2 .detail2-wrapper>img{
    margin-top: 62px;
}
.detail2 .detail2-wrapper .list-content{
    margin-top: 20px;
}
.detail2 .detail2-wrapper .list-content ul{
    width: 1162px;
    margin: 0 auto;
    overflow: hidden;
}
.detail2 .detail2-wrapper .list-content ul li{
    float: left;
    width: 226px;
    height: 306px;
    margin-top: 9px;
    position: relative;
    border: 1px solid #eeeeee;
    box-sizing: border-box;
}
.detail2 .detail2-wrapper .list-content ul li:hover{
    border: 1px solid #374798;
    box-sizing: border-box;
}
.detail2 .detail2-wrapper .list-content ul li:nth-child(5n+1){
   margin-right: 8px;
}
.detail2 .detail2-wrapper .list-content ul li:nth-child(5n+2){
    margin-right: 8px;
}
.detail2 .detail2-wrapper .list-content ul li:nth-child(5n+3){
    margin-right: 8px;
}
.detail2 .detail2-wrapper .list-content ul li:nth-child(5n+4){
    margin-right: 8px;
}
.detail2 .detail2-wrapper .list-content ul li .shopinfo  .info .portrait img{
    width: 38px;
    height: 38px;

}
.detail2 .detail2-wrapper .list-content ul li .shopinfo  .info .portrait{
    position: absolute;
    bottom: 34px;
    left: 4px;
    width: 38px;
    height: 38px;
}
.detail2 .detail2-wrapper .list-content ul li .shopinfo  .info .type{
    color: #999;
    font-size: 12px;
    font-family: "微软雅黑";
    position: absolute;
    bottom: 46px;
    left: 47px;
    padding: 2px 5px;
    background: #eeeeee;
    border-radius: 1px;
}
.detail2 .detail2-wrapper .list-content ul li .shopinfo  .info .title{
    color: #444;
    font-size: 12px;
    font-family: "微软雅黑";
    position: absolute;
    bottom: 46px;
    left: 86px;

}
.detail2 .detail2-wrapper .list-content ul li .shopinfo  .info .price{
    color: #fb5108;
    font-family: "微软雅黑";
    font-size: 20px;
    position: absolute;
    bottom: 12px;
    left: 9px;
}
.detail2 .detail2-wrapper .list-content ul li .shopinfo  .info .icon{
    position: absolute;
    bottom: 12px;
    right: 7px;
}
.detail2 .detail2-wrapper .list-content ul li .shopinfo  .info .icon img{
    margin-left: 16px;
}
.detail2 .detail2-wrapper .list-content ul li .shopinfo  .info .icon img:last-child{
    position: relative;
}
.detail2 .detail2-wrapper .list-content ul li .shopinfo  .info .icon .sum{
    width: 12px;
    height: 12px;
    background: #fb4e03;
    color: #ffffff;
    font-size: 11px;
    font-family: "微软雅黑";
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    line-height: 12px;
    position: absolute;
    right: -6px;
    top: -6px;
}
.detail2 .detail2-wrapper .list-content ul li > img{
    width: 224px;
}
.detail2 .detail2-wrapper .list-content ul li img{
    position: relative;
}
.detail2 .detail2-wrapper .list-content ul li .thumbup{
    position: absolute;
    top: 10px;
    left: 8px;

}
.detail2 .detail2-wrapper .list-content ul li .Shelter{
    font-size: 24px;
    color: red;
    height: 28px;
    background: #000;
    position: absolute;
    top:196px;
    opacity: 0.26;
    font-size: 12px;
    font-family: "微软雅黑";
    color: #fff;
    line-height: 28px;
    text-align: right;
    width: 224px;
}
.detail2 .detail2-wrapper .list-content ul li .Shelter span{
    margin-right: 10px;
}